* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.folder-header-top {
  background-color: rgb(135, 139, 140);
  height: 74px;
}

.folder-header-bottom {
  background-color: rgb(170, 173, 173);
  height: 48px;
}

.folder-stone-container {
  display: flex;
  flex-wrap: wrap; /* 允許換行 */
  gap: 50px;
  padding: 20px;
  justify-content: center;
  max-width: 1800px;
  margin: 0 auto;
}

.stone-background {
  width: 240px; /* 固定大小，所有圖片區塊一致 */
  height: 200px;
  background-color: #ddd; /* 灰色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden; /* 防止內容溢出 */
  flex: 0 0 240px; /* 確保不縮小或變形 */
}

.stone-img {
  width: 200px;
  height: 180px;
  max-width: 80%; /* 讓圖片比背景小 */
  max-height: 80%;
  object-fit: contain;
}

.stone-fileName {
  font-size: 18px;
}

/* === Modal 彈出視窗 === */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-img {
  max-width: 80vw;
  max-height: 80vh;
}

/* 按鈕樣式 */
.close-btn,
.prev-btn,
.next-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.close-btn {
  top: 10px;
  right: 10px;
}

.prev-btn {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next-btn {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.download-img-text-div {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 10px;
}

.modal-color {
  font-size: 30px;
}

.download-img-text {
  font-size: 20px;
}

/* 顏色文字的容器 */
.folder-color-text{
  margin-top: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* 下載全部圖片按鈕的容器 */
.folder-content-download{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* 下載全部圖片按鈕 */
.download-all-btn {
  padding: 8px 16px;
  background-color: rgb(82, 82, 82);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.download-all-btn:hover {
  background-color: #7c7c7c;
}