.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* 淺灰色背景 */
  color: #333;
  padding: 12px 24px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-logo a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.navbar-logo img{
  width: 60px; /* 調整 logo 圖片大小 */
  margin-right: 10px; /* 讓 logo 圖片和文字之間有點間距 */
  vertical-align: middle; /* 使圖片與文字垂直對齊 */
}