* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background: url("../../../res/bg_newfix.jpg") center center;
  background-size: 100%;
  height: 40rem;
  width: 100%;
  overflow: hidden;
}

.search {
  display: flex;
  justify-content: center;
}
